.title-panel {
  background-color: white;
  padding: 0.7rem 1.5rem;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  align-self: center;
  max-width: 35rem;
  width: 100%;
}

.title-panel h1 {
  margin: 0;
  padding: 0;
  white-space: nowrap;

}
.instructions-panel {
  background-color: #ffffff;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  width: 15rem;
  margin-bottom: 1rem;
}

.instructions-title {
  font-size: 1.25rem;
  margin: 0;
  padding: 0;
}

.instructions-panel li {
  padding-bottom: 0.5rem;
  font-size: 0.8rem;
  margin: 0rem;
  padding-right: 1rem;
  list-style: decimal;
}

.download-btn {
  font-size: 1.25rem;
  margin: 0;
  padding: 0.4rem 0.5rem;
}

.new-node-text {
  font-size: 1rem;
  margin: 0;
  padding: 0.4rem 0.5rem;
}

.new-node-btn {
  background-color: #ffffff !important;
  color: black !important;
  border: 2px solid black !important;
  margin-bottom: 9cap;

}

.toolbar-btn {
  background-color: #ffffff !important;
  color: black !important;
}
.toolbar-btn:active {
  background-color: #000000 !important;
  color: rgb(255, 255, 255) !important;
}

@media (max-width: 933px) {
  .instructions-panel {
    width: 10rem;
  }
  .title-panel h1 {
    width: 100%;

  }
  .download-btn {
    font-size: 1rem;
    padding: 0.2rem 0.3rem;
  }
}

@media (max-width: 812px) {
  .title-panel {
    width: 100%;
  }
  .instructions-panel {
    font-size: 1rem;
  }
  .title-panel h1 {
    font-size: 1.7rem;
  }
  .instructions-panel li {
    font-size: 0.6rem;
  }
}