
.new-node-text {
  font-size: 1rem;
  margin: 0;
  padding: 0.4rem 0.5rem;
}

.new-node-btn{
  background-color: #ffffff !important;
  color: black !important;
  border: 2px solid black !important;
  margin-bottom: 9cap;

}

.toolbar {
  box-shadow:  3.54px 4.55px 0px #00000005, 0px 3.54px 4.55px 0px #0000000d, 0px .51px 1.01px 0px #0000001a;

}

.toolbar-btn {
  background-color: #ffffff !important;
  color: black !important;
  border-radius: 0% !important;
}

.toolbar-btn:hover {
  background-color: #e0e0e0 !important;
  color: rgb(0, 0, 0) !important;
}
.toolbar-btn:active {
  background-color: #000000 !important;
  color: rgb(255, 255, 255) !important;
}

