.dropdown-btn {
  background-color: #ffffff;
  border: 0px solid #ccc;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.dropdown-item:active {
  background-color: #e0e0e0;
  color: rgb(0, 0, 0) !important;
}

.dropdown-item img {
  width: 22px;
  height: 22px;
  object-fit: contain;
  margin-right: 10px;
  vertical-align: middle;
}

.node-options:hover {
  background-color: #e0e0e048;
  color: rgb(0, 0, 0) !important;
}
