.dropdown-btn {
  background-color: #ffffff;
  border: 0px solid #ccc;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.dropdown-btn:hover {
  padding: 0.6rem 1.1rem;
}

.dropdown-item:active {
  background-color: #e0e0e0;
  color: rgb(0, 0, 0) !important;
}
.node-options:hover {
  background-color: #e0e0e048;
  color: rgb(0, 0, 0) !important;
}
