.accordion-content {
  padding: 1rem 2rem; /* or whatever padding you want */
  margin: 0.5rem 0; /* or your preferred margin */
}

.accordion-title {
  font-weight: bold;
}

.list-group-item:active {
  background-color: rgb(207, 207, 207)  !important;
}

.list-group-item.active {
  background-color:  rgb(207, 207, 207) ;
  color: black;
  border: 1px solid #ccc;
}