.accordion-content {
  padding: 1rem 2rem;
  margin: 0.5rem 0;
}

.accordion-title {
  font-weight: bold;
}

.list-group-item.active {
  background-color: #e0e0e0;
  color: rgb(0, 0, 0);
  border: 1px solid #ccc;
}
