.dropdown-edge {
  font-size: 0.5rem;
}

/* Change save button layout */
.save-btn {
  background-color: rgb(5, 5, 5);
  color: rgb(255, 255, 255);
  border: 1px solid #ccc;
}

.save-btn:hover {
  background-color: #000000;
  color: rgb(255, 255, 255);
  border: 1px solid #aaa;
}

.save-btn:active {
  background-color: black !important;
  color: white;
}

/* Change edge button layout */
.edge-btn {
  background-color: #e0e0e0;
  color: rgb(0, 0, 0);
  border: 1px solid #ccc;
  border-radius: 4px;
}

.edge-btn:hover {
  background-color: #e0e0e0;
  color: rgb(0, 0, 0);
  border: 2px solid #aaa;
  border-radius: 4px;
}



.modal-header .btn-close:focus {
  outline: none;

  box-shadow: 0 0 0 3px rgba(0, 0, 0);
}
