.title-panel {
  background-color: white;
  padding: 0.7rem 1.5rem;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  align-self: center;
  max-width: 35rem;
  width: 100%;
  box-shadow:  3.54px 4.55px 0px #00000005, 0px 3.54px 4.55px 0px #0000000d, 0px .51px 1.01px 0px #0000001a;
}

.title-panel h1 {
  margin: 0;
  padding: 0;
  white-space: nowrap;

}
.instructions-panel {
  background-color: #ffffff;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  width: 15rem;
  margin-bottom: 1rem;
  box-shadow:  3.54px 4.55px 0px #00000005, 0px 3.54px 4.55px 0px #0000000d, 0px .51px 1.01px 0px #0000001a;
}

.instructions-title {
  font-size: 1.25rem;
  margin: 0;
  padding: 0;
}

.instructions-panel li {
  padding-bottom: 0.5rem;
  font-size: 0.8rem;
  margin: 0rem;
  padding-right: 1rem;
  list-style: decimal;
}

.download-btn-text {
  font-size: 1.25rem;
  margin: 0;
  padding: 0.4rem 0.5rem;
}

.download-btn {
  box-shadow:  3.54px 4.55px 0px #00000005, 0px 3.54px 4.55px 0px #0000000d, 0px .51px 1.01px 0px #0000001a !important;
}

.download-btn-content {
  display: flex;
  flex-direction: row;
  align-items: center;

}

.download-icon {
  font-size: 1.5rem;
}

@media (max-width: 933px) {
  .instructions-panel {
    width: 10rem;
  }
  .title-panel h1 {
    width: 100%;

  }
  .download-btn {

    padding: 0.2rem 0.3rem;
  }
  .download-btn-text {
    font-size: 1rem;
  }
  .download-icon {
    font-size: 1.1rem;
  }

}

@media (max-width: 842px) {
  .title-panel {
    width: 100%;
  }
  .instructions-panel {
    font-size: 1rem;
  }
  .title-panel h1 {
    font-size: 1.7rem;
  }
  .instructions-panel li {
    font-size: 0.6rem;
  }
  .download-btn {

    padding: 0.1rem 0.2rem;
  }
  .download-btn-text {
    font-size: 0.8rem;
  }
  .download-icon {
    font-size: 0.8rem;
  }

}