.app-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.wrapper {
  flex: 1;
  overflow: hidden;
  border-radius: 8px;
  background-color: #F7F9FB;  /* moved here */
}

/* Skip link styles */
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #E0E0E0 ;
  color: rgb(15, 15, 15);
  padding: 8px 16px;
  z-index: 1000;
  text-decoration: none;
  font-weight: bold;
}

.skip-link:focus {
  top: 10px;
  left: 10px;

}

